html{
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

header{
    margin: 0 auto;
    margin-bottom: 3%;
    width: fit-content;
}
header h1{
    margin: 0 auto;
    width: fit-content;
    font-size: 50px;
}
header p{
    margin: 0;
    width: fit-content;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 50px;

}
nav a{
    text-decoration: none;
    font-size: 50px;
    color: black;
    font-weight: bold;
}

section{
    width: 50%;
    margin: auto;
}
section p{
    font-size: 20px;
    text-justify:distribute-all-lines;
}

#contact{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;

}
.wraplinks{
    display: flex;
    align-items:center;
    
}
.wraplinks a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.wraplinks img{
    margin-right: 5px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}